/__pycache__

updates_log
token
/botTest

*.pyc

/ignore
out.jpg
/modules/resources/conversations.db
/modules/resources/chatterbot.db
/.idea

*.db-journal
/tests/TestFileList.txt
/modules/resources/admin.txt
bad.txt
admin.txt
*.log
*.log.*
